/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: black;}

.logo {
  width: 200px;
  cursor: pointer;
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  color: white;
}

h3.quote {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
  margin-bottom: 0px;
  color: white;
}

p.binge {
  font-style: italic;
}

p.bong {
  margin-top: 15px;
  margin-bottom: 10px;
}

.poster {
  width: 87px;
  height: 130px;
  background-color: rgb(199, 199, 199);
  padding: 0px;
  /* z-index: 3; */
  text-align: center;
  border-width: 15px;
}

.header {
  text-align: center;
}

.search {
  text-align: center;
  margin-bottom: 30px;
}

.preview {
  z-index: 5;
  position: absolute;
  top: 480px;
  left: 50%;
  margin-left: -126px;
}

.previewText {
  transform: rotate(30deg) scale(1);
  z-index: 3;
  color: rgba(255, 255, 255, 0.541);
  font-size: 60px;
  font-weight: bold;
}

.hidePreview {
  display: none;
}

.bongImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  height: 479px;
  width: 634px;
}

.bw {
  filter: grayscale(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  height: 479px;
  width: 634px;
}

.DVD1 {
  position: absolute;
  top: 460px;
  left: 377px;
  z-index: 2;
  width: 87px;
  height: 130px;
  background-color: rgb(199, 199, 199);
  padding: 0px;
  text-align: center;
  border-width: 15px;
}

.DVD2 {
  position: absolute;
  top: 500px;
  left: 493px;
  z-index: 2;
  width: 87px;
  height: 130px;
  background-color: rgb(199, 199, 199);
  padding: 0px;
  text-align: center;
  border-width: 15px;
}

.DVD3 {
  position: absolute;
  top: 628px;
  left: 593px;
  z-index: 2;
  width: 87px;
  height: 130px;
  background-color: rgb(199, 199, 199);
  padding: 0px;
  text-align: center;
  border-width: 15px;
}

.DVD4 {
  position: absolute;
  top: 600px;
  left: 733px;
  z-index: 2;
  width: 87px;
  height: 130px;
  background-color: rgb(199, 199, 199);
  padding: 0px;
  text-align: center;
  border-width: 15px;
}
