<div class="poster1" (click)="posterClick(1)">
  <button mat-button class="posterButton">click here</button>
  <img 
    *ngIf="poster1"
    [src]="poster1">
</div>
<div class="poster2" (click)="posterClick(2)">
  <button mat-button class="posterButton">click here</button>
  <img 
    *ngIf="poster1"
    [src]="poster1">
</div>
<div class="poster3" (click)="posterClick(3)">
  <button mat-button class="posterButton">click here</button>
  <img 
    *ngIf="poster1"
    [src]="poster1">
</div>
<div class="poster4" (click)="posterClick(4)">
  <button mat-button class="posterButton">click here</button>
  <img 
    *ngIf="poster1"
    [src]="poster1">
</div>