<div class="header">
  <h1>reelfolio</h1>
</div>
<div class="search">
  <input placeholder="search for dvd">
  <!-- <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        search
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
</div>
<div>
  <div class="preview">
    <div class="previewText">PREVIEW</div>
  </div>
  <img 
      mat-card-image
      class="bongImg"
      [ngClass]="{'bw': isTemplate}"
      src="https://i.dailymail.co.uk/1s/2020/02/11/04/24587812-0-image-a-77_1581396454396.jpg"
      alt="Bong Joon-Ho">
  <app-dvd-cover class="DVD1"></app-dvd-cover>
  <app-dvd-cover class="DVD2"></app-dvd-cover>
  <app-dvd-cover class="DVD3"></app-dvd-cover>
  <app-dvd-cover class="DVD4"></app-dvd-cover>
  
</div>
